extends _layouts/home

block head_end
	link(rel="stylesheet" href="assets/css/style.css") 

block content
	#fixed-container
		#content-backgrounds
			.about.content-container.hidden
			.sponsor.content-container.hidden

		include _partials/header
		include _partials/panels

		#content-wrapper
			include _partials/about
			include _partials/sponsor
			include _partials/faq

	

block body_end
	script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
	script(type="text/javascript" src="assets/js/script.js")