extends _layouts/home

block head_end
	link(rel="stylesheet" href="assets/css/style.css") 

block content
	.content
		img(src="assets/img/FashionTechLogoROUND_17.svg" style="width: 40%; margin: -100px 50% 20px; left: 50%; transform: translateX(-50%);")
		div(style="text-align: center; margin-bottom: -60px;")
			h1 Welcome to 4th Annual Fashion/Tech Hackathon!
			a(href='https://boxcast.tv/view/fashion-tech-hackathon-opening-ceremony-248843').btn Watch the Opening Ceremony
			a(href='https://fth2017.devpost.com/' style="margin-left: 50px;").btn View Devpost
		//a(href='https://boxcast.tv/view/fashion-tech-hackathon-closing-ceremony-896054').btn Watch the Closing Ceremony
	.about.content-container
		.content
			.flex-row
				.half-col
					h2 Event Wifi
					h3 SSID: KSUEvent
					h3 Password: fashion2017
				.half-col
					h2 Announcements
					h3 Text "Follow FashTechHack" to 404-04 for live updates on our schedule.

	

block body_end
	script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
	script(type="text/javascript" src="assets/js/live.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-87218305-1', 'auto');
		ga('send', 'pageview');