header
	nav
		.nav-item.hidden
			a(href="#about") About
		.nav-item.hidden
			a(href="#sponsor") Sponsor
		//.nav-item.hidden
			a(href="#faq") FAQ
		//.nav-item.hidden
			a(href="#contact") Contact
	#logo
		img(src="assets/img/FashionTechLogoROUND_17.svg")