header
	nav
		.nav-item.hidden
			a(href="#about") About
		.nav-item.hidden
			a(href="#sponsor") Sponsor
		.nav-item.hidden
			a(href="#faq") FAQ
		.nav-item.hidden
			a(href="#contact") Contact
	#logo.away
		img(src="https://docs.google.com/uc?id=0B3W2dOa8GGIqRHJBaVU5VVNtS1E")