.sponsor.hidden
	.content.flex-col
		h1 Get involved as a sponsor
		.scroll-box
			p A partnership of the TechSytleLAB and LaunchNET at Kent State University, the Fashion/Tech Hackathon gathers students from many majors and curriculums from across the nation, and brings them together with mentors and sponsor companies over a 36 - hour period, to unlock creativity and apply breakthrough ideas that result in innovative concepts and products.
		a(href='/assets/static/Sponsorship-Packet-2017.pdf').btn View the Sponsorship Packet
		