.sponsor.hidden
	a#mlh-trust-badge(style='max-width:100px;min-width:60px;position:absolute;left:2vw;top:15%;width:10%;z-index:10000;' href='https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white' target='_blank')
			img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg' alt='Major League Hacking 2017 Hackathon Season' style='width:100%')
	.content.flex-col
		h1 Get involved as a sponsor
		.scroll-box
			p A partnership of the TechSytleLAB and LaunchNET at Kent State University, the Fashion/Tech Hackathon gathers students from many majors and curriculums from across the nation, and brings them together with mentors and sponsor companies over a 36 - hour period, to unlock creativity and apply breakthrough ideas that result in innovative concepts and products.
		a(href='/assets/static/Sponsorship-Packet-2017.pdf').btn View the Sponsorship Packet
		