@import "includes/functions";
@import "includes/base";

@import "partials/header";
@import "partials/panels";

body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $light-blue;
}

#fixed-container {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

#content-backgrounds {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 90;
}

#content-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 150;
}

.content-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  transition: transform 0.75s ease-in-out;
}

.content {
  padding: 0 7%;
  width: 100%;
  height: 100vh;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  max-width: 960px;
  margin: 0 auto;
  margin-top: 24vh;
  text-align: left;
  overflow: scroll;

  z-index: 250;
}

.about {
  &.content-container {
    background-color: $blue-green;
    -webkit-clip-path: polygon(90% 15%, 100% 15%, 100% 100%, 0 100%, 0 10%, 60% 10%);
    clip-path: polygon(90% 15%, 100% 15%, 100% 100%, 0 100%, 0 10%, 60% 10%);
  }

  transition: transform 0.75s ease-in-out;
  transform: translate(0%) rotate(0deg);
  transform-origin: bottom right;
  
  &.hidden {
    transform: translate(50%, 100%) rotate(-45deg);
  }
  
  .content {
    h1 {
      color: $light-blue;
    }
  }
}

.sponsor {
  &.content-container {
    background-color: $light-green;
    -webkit-clip-path:  polygon(0 15%, 30% 10%, 100% 10%, 100% 100%, 0% 100%);
    clip-path:  polygon(0 15%, 30% 10%, 100% 10%, 100% 100%, 0% 100%);
  }
  transition: transform 0.75s ease-in-out;
  transform: translate(0%, 0%) rotate(0deg);
  //transform-origin: bottom left;
  
  &.hidden {
    transform: translate(-50%, 100%) rotate(45deg);
  }

  .content {  
    h1 {
      color: $indigo;
    }

    p {
      color: $black;
    }
  }
}

.sponsor, .about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 960px) {
	.content {
		padding-left: 0;
		padding-right: 0;
	}
}

