header {
  position: absolute;
  padding: 0 7%;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: visible;
  z-index: 200;
  
  box-sizing: border-box;
  
  nav {
    width: 100%;
    max-width: 960px;
    height: 10vh;
    
    margin: 0  auto;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    
    .nav-item {
      cursor: hand;
      cursor: pointer;

      padding-right: 6vw;
      
      font-size: 1.2em;
      font-family: 'Soho-Regular';
      margin: 0;
      line-height: 10vh;
        
      white-space: nowrap;
      
      text-align: left;
      transition: transform 0.5s ease-out;
      
      @for $i from 1 through 4 {
         &:nth-child(#{$i}) { 
           -webkit-transition-delay: (0.5 + (0.1s * $i));
           -moz-transition-delay: (0.5 + (0.1s * $i));
           transition-delay: (0.5 + (0.1s * $i));
         }
      }
      
      &.hidden {
        transform: translateY(-100%);
        
        @for $i from -4 through -1 {
          &:nth-child(#{abs($i)}) { 
           -webkit-transition-delay: (0.1s * (3 - abs($i)));
           -moz-transition-delay: (0.1s * (3 - abs($i)));
           transition-delay: (0.1s * (3 - abs($i)));
         }
      }
      }
    }
  }
}

#mlh-trust-badge {
  transition: transform 500ms ease;
  transform: translateY(0%);
  &.away {
    transform: translateY(-100%);
  }
}

#logo {
  display: none;

  position: absolute;
  right: 50%;
  top: 15vh;
  background-color: white;
  
  width: 40vw;
  height: 40vw;
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;

  border-radius: 100%;
  margin: 0.75vh auto;

  transform: translate(50%, 0);
  transition: 
  right 0.4s ease-in-out, 
  top 0.4s ease-in-out, 
  width 0.4s linear, 
  height 0.4s linear, 
  min-width 0.4s linear, 
  min-height 0.4s linear,
  max-width 0.4s linear, 
  max-height 0.4s linear,
  transform 0.4s ease-in-out;

  transition-delay: 0.1s;

  cursor: pointer;

  z-index:200;

  &.away {
    top: 0;
    right: calc(60px + 0.75vh);
    min-width: 60px;
    min-height: 60px;
    width: 14vh;
    height: 14vh;
    transition-delay: 0.1s;
    transform: translate(50%, 0%);
  }

  &.poke {
    animation: poke 1s ease;
  }

  img {
    width: 100%;
  }

  @media screen and (max-width: 400px) {
    width: 63vw;
    height: 63vw;
    min-width: auto;
    min-height: auto;
  }
}

@-webkit-keyframes poke {
  0%, 45%, 75%, 100% {
    transform: translate(50%, 0%) rotate(0deg);
  }
  15% {
    transform: translate(50%, -10%) rotate(-2deg);
  }
  35% {
    transform: translate(50%, -12%) rotate(-3deg);
  }
  60% {
    transform: translate(50%, -6%);
  }
  90% {
    transform: translate(50%, -2%);
  }
  
}

.header-text {
  width: 100%;
  font-family: 'Soho-Regular';
  font-size: 2.3em;
  font-weight: 200;
  font-style: normal;
  line-height: 1.8;
  color: $black;
  position: absolute;
  bottom: 10vw;
  left: 0;
  text-align: center;
  text-transform: none;
  
  white-space: pre;

  z-index: 190;
  
  -webkit-transition: bottom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: bottom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  
  &.away {
    bottom: -50%;
    
    -webkit-transition: bottom 0.5s ease 0.25s;
  transition: bottom 0.5s ease 0.25s;
  }

  @media screen and (max-width: 400px) {
    font-size: 9vw;
  }
}

@media (max-height: 640px) {
  #logo {
    top: 8vh;
    min-width: 200px;
    min-height: 200px;
  }

  .date {
    bottom: 5vh;
  }
}